{
  "*.{vue,js,jsx,cjs,mjs,ts,tsx,cts,mts}": [
    "eslint --fix --cache --ignore-path .gitignore",
    "prettier --write --ignore-path .gitignore"
  ],
  "*.{css,scss,less,html,json,yaml,md}": [
    "prettier --write --ignore-path .gitignore"
  ]
}
